body {
    background-color: rgb(234, 234, 234);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

header, section, footer {
    display: flex;
    justify-content: center;
}

header {
    padding-bottom: 10px;
}

section {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 20px;
}

h1 {
    color: rgb(42, 42, 42);
}

table {
    border-collapse: collapse;
    border-radius: 500px;
}

tr:nth-child(odd) td {
    background-color: rgb(227, 227, 227); 
}

tr:last-child td:nth-child(1) {
    border-radius: 0 0 0 7px;    
}

tr:last-child td:last-child {
    border-radius: 0 0 7px 0;    
}

th {
    background-color: rgb(91, 91, 91);
    color: white;
    height: 50px;
}

th:nth-child(1) {
    border-radius: 7px 0 0 0;
}

th:last-child {
    border-radius: 0 7px 0 0;
}

td {
    background-color: rgb(242, 242, 242);
    width: 150px;
    padding: 4px 10px 4px 10px;
    text-align: center;
}

td span {
    padding: 7px 10px 7px 10px;
    border-radius: 5px;
    color: white;
}

a {
    color: black;
    text-decoration: none;
}

.js {
    background-color: rgb(205, 191, 80);
    font-weight: bold;
}

.py {
    background-color: rgb(53, 114, 165);
    font-weight: bold;
}

.java {
    background-color: orange;
    font-weight: bold;
}