header, section, footer {
    display: flex;
    justify-content: center;
}

header {
    padding-bottom: 10px;
}

section {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 20px;
}

table, th, td {
    border: 1px solid;
}

table {
    border-collapse: collapse;
}

td:nth-child(1) {
    width: 20px;   
}

td {
    width: 200px;
    padding: 4px 10px 4px 10px;
}

#key-container {
    display: flex;
    margin: 0 0 5px 0;
    padding : 10px 10px;
    border: 1px solid;
    font-weight: bold;
}

.label {
    display: inline-block;
    margin: 0 20px 0 10px;
    height: 1em;
    width: 1em;
    border-radius: 100%;
}


.js {
    background-color: rgb(241, 224, 90);
}

.py {
    background-color: rgb(53, 114, 165);
}

.java {
    background-color: orange;
}