body {
    margin: 0;
    background-color: rgb(234, 234, 234);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-flow: column;
}

header, section, footer {
    display: flex;
    justify-content: center;
}

header {
    background-color: rgb(58, 58, 58);
    text-align: center;
}

section {
    display: flex;
    flex-flow: column;
    align-items: center;
}

h1 {
    color: rgb(255, 255, 255);
}

table {
    margin-top: 30px;
    border-collapse: collapse;
    border-radius: 500px;
}

tr {
    transition: all .2s ease-in-out; 
    font-size: 1em;
}

tr:nth-child(odd) td {
    background-color: rgb(247, 247, 247); 
}

/* tr.grow:hover {
    transform: scale(1.04); 
} */

th {
    background-color: rgb(107, 107, 107);
    color: white;
    height: 50px;
}

th:nth-child(1) {
    border-radius: 7px 0 0 0;
}

th:last-child {
    border-radius: 0 7px 0 0;
}

td {
    color: rgb(37, 37, 37);
    background-color: rgb(242, 242, 242);
    width: 140px;
    padding: 4px 10px 4px 10px;
    text-align: center;
}

td span {
    padding: 7px 10px 7px 10px;
    border-radius: 5px;
    color: white;
}

.js {
    background-color: rgb(205, 191, 80);
    font-weight: bold;
}

.py {
    background-color: rgb(53, 114, 165);
    font-weight: bold;
}

.java {
    background-color: orange;
    font-weight: bold;
}